/*Navbar*/
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
/*Headings*/
.headings{
    font-family: century;
    font-size: 2.5rem;
}

.main img{
    flex-direction: column;
    align-items: center;
}

.info{
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7rem;
    font-family: century;
    text-align: center;
    padding: 0px;
}
.info h4{
    flex-wrap: wrap;
    justify-content: center;
    font-family: century;
    text-align: center;
    padding: 0px;
}
#tablecontent{
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
}
.row{
    flex-wrap: wrap;
    justify-content: center;
}